html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

h1 {
	text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

li {
  position: relative;
  list-style: none;
  padding: 20px 15px;
  border-bottom: #eee solid 1px;

}

.delete-button {
	float: right;
}
.submit-button {
	margin-top: 10px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .title {
  text-decoration: line-through;
}

