<template name="items">

  <div class="container">

    <h1>Todos</h1>

    <form class="new-list-item">
    		<div class="form-group">
    			<label for="new-item">Add a todo</label>
      		<input class="form-control" id="new-item" type="text" name="title" placeholder="new item">
      		<input class="btn btn-success form-control submit-button" type="submit">
      	</div>
    </form>

    <ul class="items">
      	{{#each listItems}}
        	<h3>{{ > item}}</h3>
      	{{/each}}
    </ul>

  </div> <!-- /container -->

</template>

<template name="item">
  	<li class="{{#if checked}}checked{{/if}}">
  		<div class="item">
  			<div class="checkbox">
  			  <label>
  			    <input type="checkbox"> <span class="title">{{title}}</span>
  			  </label>
  			  <button class="btn btn-danger delete-button">delete</button>
  			</div>
  		</div>
  	</li>
</template>
